{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="flex items-center justify-center h-screen bg-white flex-col gap-4">
    <img src="{% static 'image/small-logo.png' %}" alt="Sinar Abadi Logo" class="h-40 w-auto"/>
    <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-800">Selamat Datang di {{ company }}</h1>
        <br>
        <h4 class="text-xl text-gray-600">Didirikan oleh {{ owner_name }} dari {{ owner_class }}</h4>
        <br>
        <!-- Add username and last login time here -->
        <p class="text-lg text-gray-500">Hello there, {{ user.username }}</p>
        <p class="text-sm text-gray-400">Last login: {{ user.last_login|date:"d F Y H:i" }}</p>
    </div>
</div>

<div class="flex justify-center h-screen gap-4 p-6">
    {% if not store_products %}
        <div class="flex flex-col items-center justify-center p-6">
            <!-- Empty store state -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 92.26" style="enable-background:new 0 0 122.88 92.26" xml:space="preserve">
                <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style>
                <g><path class="st0" d="..."/></g>
            </svg>
            <p class="text-center text-gray-600 mt-4">There is no mood data in mental health tracker.</p>
        </div>
    {% else %}
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
            {% for product in store_products %}
                {% include 'product_card.html' with product=product %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}